*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: "Inter",sans-serif;
    background-color: #0b0f17;
    color: #ffff;
    min-height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.container{
    padding: 20px;
}
.product-card{
    background-color: #121826;
    width: 320px;
    border-radius: 16px;
}
.product-image{
    width: 100%;
    height: 220px;
}